{% extends 'base.html' %}

{% block body %}

<section>
    <div id="page-wrapper" class="sign-in-wrapper">
        <div class="graphs">
            <div class="sign-in-form">
                <div class="sign-in-form-top">
                    <h1>Reset Password</h1>
                    <p style="margin-top: 10px;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                    <br>
                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.

                    </p>
                </div>
                      
            </div>
        </div>
    </div>

</section>

{% endblock %}