{% extends 'base.html' %}

{% block body %}

<section>
    <div id="page-wrapper" class="sign-in-wrapper">
        <div class="graphs">
            <div class="sign-in-form">
                <div class="sign-in-form-top">
                    <h3>Password reset complete</h3>
                    <p style="margin-top:10px">Your password has been set. You may go ahead and log in now..</p>
                    <br>
                </div>

                <a href="{% url 'accounts:login' %}">Login</a>
                      
            </div>
        </div>
    </div>

</section>

{% endblock %}